@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-black text-white;
}

.glass {
  backdrop-filter: blur(15px);
  background: rgba(255, 255, 255, 0.05);
  border-radius: 20px;
  padding: 20px;
}
